@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
   
}
<div class="text-center">
    <h1 class="display-4">Product</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Đây là view của Product</a>.</p>
</div>

